@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
	margin: 0px;
	box-sizing:border-box;

}

body{
width: 100%;
height: 5082px;
 font-family: 'Proxima Nova Rg' ,'Montserrat'; 
 
}


.thebutton{
	width: 3.2%;
	height: 8%;
	background-color: white;
	position: absolute;
	top: 96%;
	left:48.3%;
	z-index: 1;
	-webkit-box-shadow: -2px 0px 29px 0px rgba(50, 50, 50, 0.75);
}
.thebutton input:nth-child(1),.thebutton2 input:nth-child(1),.thebutton3 input:nth-child(1),.thebutton4 input:nth-child(1),.thebutton5 input:nth-child(1){
	width: 100%;
	background: url("imgs/parte1/arriba.png") no-repeat 50% 54%,white;
	background-size: 9px;
	border: 0px;
	cursor: pointer;
}
.thebutton input:nth-child(2),.thebutton2 input:nth-child(2),.thebutton3 input:nth-child(2),.thebutton4 input:nth-child(2),.thebutton5 input:nth-child(2){
	width: 100%;
	margin-top: 0%;
	background: url("imgs/parte1/abajo.png") no-repeat 50% 54%,white;
	background-size: 9px;
	border: 0px;
	cursor: pointer;
}

.thebutton2{
	width: 3.2%;
	height: 8%;
	background-color: white;
	position: absolute;
	top: 162%;
	left:48.3%;
	z-index: 1;
	-webkit-box-shadow: -2px 0px 29px 0px rgba(50, 50, 50, 0.75);
}

.thebutton3{
	width: 3.2%;
	height: 8%;
	background-color: white;
	position: absolute;
	top: 306%;
	left:48.3%;
	z-index: 2;
	-webkit-box-shadow: -2px 0px 29px 0px rgba(50, 50, 50, 0.75);
}

.thebutton4{
	width: 3.2%;
	height: 8%;
	background-color: white;
	position: absolute;
	top: 436%;
	left:48.3%;
	z-index: 3;
	-webkit-box-shadow: -2px 0px 29px 0px rgba(50, 50, 50, 0.75);
}


.thebutton5{
	width: 3.2%;
	height: 8%;
	background-color: white;
	position: absolute;
	top: 598%;
	left:48.3%;
	z-index: 4;
	-webkit-box-shadow: -2px 0px 29px 0px rgba(50, 50, 50, 0.75);
}


/*--------FIRST PART--------*/
.first{
	width: 100%;
	height: 20.7%;

	background-color: #30323a;
}

header{
	font-family: 'Montserrat', sans-serif;

}
 h3{
 	font-weight: normal;
 	padding-top: 0.9%;
	padding-left: 13%;
	color: #96979a;
	float: left;
}

nav{
	padding-top: 1%;
	height: 1.3%;

	
}
nav ul li:first-of-type{
	padding-left:10.7%;
}
nav ul li a{
	color: white;
	text-decoration: none;
	
}

nav ul li a:hover{
	border-bottom: 4px solid #97c13c;
}
 nav ul li {
 	
 	display: inline-block;
 	list-style: none;
 	float:left;
 	padding-right: 3.3%;

 }
header input{

	background-color:#30323a;
	background-image: url("imgs/parte1/lupa.png");
	background-size: contain;
	background-position: 98% 0%;	
	background-repeat: no-repeat;
	width: 11.4%;
	height: 1.6%;
	margin-left: 5.2%;
	border:none;
	border-bottom:1px solid #45474e;
}
.slide{

	
	width: 96%;
	height: 54.58%;
	margin-top: 2.4%;
	margin-right: 2%;
	margin-left: 2%;
	background-color: #8a8a8a;
	background:  url("imgs/parte1/cuadrochido.png") no-repeat 7.6% 43.1%, #8a8a8a;
	position: relative;
	background-size: 102px;


}
.slide .info{
	
	width: 40.4%;
	height: 18.10%;
	position: relative;
	top:35.40%;
	left: 15.5%;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);
	
}

.slide .info>p{

	
	font-size: 15px;
	color: #f95353;
	padding-top:7% ;
	padding-bottom:3.5%; 
	padding-left: 4.2%;
	padding-right: 2.5%;

}
.notes{
	width: 20%;
	height:10%;
	background-color: none;
	position: relative;
	top:35.4%;
	left: 35.9%;


}  
.notes input,.notes2 input{
	width: 100%;
	height:100%;
	background: url("imgs/parte1/notes.png") no-repeat 8% 36%,#97c13c;
	background-size: 44px;
	border:0px;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);
	padding-left: 28.5%;
	font-family: 'Proxima Nova Rg' ,'Montserrat'; 
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.moreinfo{
	width: 100%;
	height: 100%;
}
.moreinfo h1{
	
	font-weight: bold;
	font-size: 28px;
	color: white;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
}
.moreinfo p{
	
	color: white;
	text-align: center;
	padding-right: 11%;
	padding-left: 11%;
}
.notes2{
	width: 20%;
	height: 8%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 3.3%;
	margin-left: 39.3%;
	border-radius: 4px;

}


/*--------SECOND PART--------*/

.second{
	width: 100%;
	height: 18.3%;
	
	background-color: #97c13c;
}

.imgs ul{
	padding-top: 5.8%;
	padding-left: 44.8%;
	height: 1.3%;
	list-style: none;
	
}
.imgs ul li{
	
	height: 1.3%;
	list-style: none;
	display: inline;
	padding-right: 1.2%;
}

.imgs ul li:nth-child(n+1){
 opacity: 0.3;
}
.imgs ul li:hover{
	opacity: 1;
}


.picture1, .picture2, .picture3,.picture4,.picture5,.picture6{
	width: 23.7%;
	height: 29.7%;
	background: url("imgs/parte2/icons.png") no-repeat 53% 3%,white;
	background-size: 230px;
	float: left;
	margin-left: 13%;
	margin-top: 1%;
	border-radius: 4px;
}
.picture2, .picture3, .picture5, .picture6{
	margin-left: 1.6%;
}
.hov, .hov1,.hov2,.hov3,.hov4,.hov5{
	width: 100%;
	height: 100%;
	background-color: #44464d;
	border-radius: 4px;
	opacity: 0;
}
.hov p:nth-child(1), .hov1 p:nth-child(1), .hov2 p:nth-child(1), .hov3 p:nth-child(1), .hov4 p:nth-child(1), .hov5 p:nth-child(1){
	padding-top: 56.2%;
	padding-left: 2%;
	color: #82a17e;

}
.hov p:nth-child(2), .hov1 p:nth-child(2), .hov2 p:nth-child(2), .hov3 p:nth-child(2), .hov4 p:nth-child(2), .hov5 p:nth-child(2){
	padding-top: 2.2%;
	padding-left: 2%;
	color: #82a17e;
}
.hov p:nth-child(3), .hov1 p:nth-child(3), .hov2 p:nth-child(3), .hov3 p:nth-child(3), .hov4 p:nth-child(3), .hov5 p:nth-child(3){
	
	padding-left: 2%;
	color: white;
	
}
.hov>p:nth-child(3) span, .hov1>p:nth-child(3) span,.hov2>p:nth-child(3) span,.hov3>p:nth-child(3) span,.hov4>p:nth-child(3) span,.hov5>p:nth-child(3) span{
	padding-left: 30%;
	
	font-size: 30px;
	color: white;
	cursor: pointer;
}
.hov:hover,.hov1:hover,.hov2:hover,.hov3:hover,.hov4:hover,.hov5:hover{

	opacity: 0.8;
}


.projects{
	width: 38%;
	height: 23%;
	clear: both;
	position: relative;
	top: 10%;
	left: 42%;
	
}

.projects input{
	width: 45%;
	height: 25%;
	background: url("imgs/parte2/engrane.png") no-repeat 7% 19%,white;
	background-size: 33px;
	padding-left: 8%;
	color:#97c13c;
	border: 0px;
	cursor: pointer;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);
}




/*--------THIRD PART--------*/

.third{
	width: 100%;
	height: 16.5%;
	background-color: #34aecc;

}

.third h1{

	color: white;
	 font-family: 'Proxima Nova Rg' ,'Montserrat'; 
	 font-size: 28px;
	 text-align: center;
	 padding-top: 5.3%;
}

.firstteam{
	width: 29.7%;
	height: 60%;
	margin-left: 4%;
	margin-top: 3%;
	margin-right: 1.6%;
	float: left;
}

.secondteam,.thirdteam{
	width: 29.7%;
	height: 60%;
	margin-top: 3%;
	margin-right: 1.6%;
	float: left;
}
.firstteam .team1, .secondteam .team2, .thirdteam .team3{

	width: 95%;
	height: 58%;
	/*background-color: #0a2329;*/
	background-image: url("imgs/parte3/guy.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	margin-top: 3%;
	margin-right: 1.6%;
	margin-left: 5%;
	
}


.teaminfo1, .teaminfo2 ,.teaminfo3{

	width: 100%;
	height: 30%;
	margin-top: 3%;
	margin-right: 1.6%;
	margin-left: 3%;
	float: left;
}

.teaminfo1 h4 , .teaminfo2 h4 , .teaminfo3 h4{
	color: white;
	padding-top: 10%;
	padding-left: 25.6%;
}

.teaminfo1 p:nth-of-type(1), .teaminfo2 p:nth-of-type(1) , .teaminfo3 p:nth-of-type(1){
	padding-left: 45%;
	color: white;
	font-size: 93px;
	line-height: 23px;

}
.teaminfo1 p:nth-of-type(2),.teaminfo2 p:nth-of-type(2),.teaminfo3 p:nth-of-type(2){
	width: 100%;
	color: white;
	padding-top: 4%;
	text-align: center;

}

.teaminfo1 ul,.teaminfo2 ul,.teaminfo3 ul{
	padding-top: 10%;
	padding-left: 29.8%;

}
.teaminfo1 ul li,.teaminfo2 ul li,.teaminfo3 ul li{
	display: inline;
	padding-right: 2%;
	opacity: 0.2;
}


.firstteam ,.secondteam, .thirdteam{
	opacity: 0.2;
}

.firstteam:hover, .secondteam:hover, .thirdteam:hover{
	opacity: 1;
}
.teaminfo1 ul li:hover,.teaminfo2 ul li:hover,.teaminfo3 ul li:hover{

	opacity: 1;
}


.teambutton{
	width: 38%;
	height: 23%;
	clear: both;
	position: relative;
	top: 8%;
	left: 40%;
}
.teambutton input{
	width: 49%;
	height: 25%;
	background: url("imgs/parte3/user.png") no-repeat 4% 14%,white;
	background-size: 33px;
	padding-left: 8%;
	color:#37afcd;
	border: 0px;
	cursor: pointer;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);

}



/*--------FOUR PART--------*/

.four{
	width: 100%;
	height: 20.5%;
	background-color: #30323a;
}

.four h1{
	color: white;
	text-align: center;
	padding-top: 4%;
	font-size: 28px;
	font-family: 'Proxima Nova Rg' ,'Montserrat'; 
}
.four p:nth-of-type(1){
	color: white;
	text-align: center;
	line-height: 23px;
	font-size: 93px;
}

.four p:nth-of-type(2){
	width: 70%;
	color: white;
	text-align: center;
	padding-top: 2%;
	margin-left: 17%;

}

.sectionweb{
	width: 20.7%;
	height: 35%;
	margin-left: 17.3%;
	margin-top: 6%;
	margin-right: 1.6%;
	float: left;
	
}
.branding, .consultancy{
	width: 20.7%;
	height: 35%;
	margin-top: 6%;
	margin-right: 1.6%;
	float: left;
}

.iconweb{
	width: 100%;
	height: 20%;
	background-image: url("imgs/parte4/monitor.png");
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: 49% 14%;
}
.icomega{
	width: 100%;
	height: 20%;
	background-image: url("imgs/parte4/megaphone.png");
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: 49% 14%;
}
.icodialog{
	width: 100%;
	height: 20%;
	background-image: url("imgs/parte4/dialog.png");
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: 49% 14%;
}
.infoweb, .infomega, .infodialog{
	width: 100%;
	height: 40%;
	
}
.infoweb h3, .infomega h3, .infodialog h3{
	width: 80%;
	color: white;
	margin-left: 19%;
}
.infoweb p:nth-of-type(2),.infomega p:nth-of-type(2),.infodialog p:nth-of-type(2){
	width: 100%;
	text-align: center;
	color: white;
	margin-left: 1%;
	padding-top: 10%;
}
.webbtn,.megabtn,.dialogbtn{
	height: 35%;
}
.webbtn input, .megabtn input, .dialogbtn input{
	width: 50%;
	height: 30%;
	margin-top: 4%;
	margin-left: 27%;
	color: #9d9ea1;
	background-color: #45474e;
	border: 0px;
	cursor: pointer;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);
}

.skills{
	clear:both;
	margin-top: 1%;
}
.skills h1{
	padding-top: 0%;
}
.webskills{

	width: 20.7%;
	height: 28%;
	margin-left: 17.3%;
	margin-top: 3%;
	margin-right: 1.6%;
	float: left;
	
}
.webskills2,.webskills3{

	width: 20.7%;
	height: 28%;
	margin-top: 3%;
	margin-right: 1.6%;
	float: left;
}
.skillsinfo1 h4, .skillsinfo2 h4,.skillsinfo3 h4{
	color: #929396;
	text-align: center;
}
.skillsinfo1 p:nth-of-type(3), .skillsinfo2 p:nth-of-type(3), .skillsinfo3 p:nth-of-type(3){
	color: white;
	text-align: center;
	line-height: 23px;
	font-size: 93px;
}
.skillsinfo1 p:nth-of-type(2),.skillsinfo2 p:nth-of-type(2),.skillsinfo3 p:nth-of-type(2){
	
	width: 100%;
	color: #929396;
	margin-left: 1%;
	margin-top: 3%;
}

.skillsinfo1 h4:nth-of-type(2),.skillsinfo2 h4:nth-of-type(2),.skillsinfo3 h4:nth-of-type(2) {
	margin-top: 7%;
}

.skillsinfo1 p:nth-of-type(4), .skillsinfo2 p:nth-of-type(4), .skillsinfo3 p:nth-of-type(4){

	text-align: center;
	color: #929396;
	width: 100%;
	margin-left: 1%;
	margin-top: 3%;
}

/*--------FIVE--------*/

.five{

	width: 100%;
	height: 7.6%;
	background-color: #f95353;
}
.five h1{
	color: white;
	text-align: center;
	padding-top: 5%;
}
.five p{
	width: 56%;
	margin-left: 22.1%;
	margin-right: 22.1%;
	color: white;
	text-align: center;
	padding-top: 3%;
}
.five input{
	margin-left: 41.2%;
	margin-top: 3%;
	width: 17.4%;
	height: 17%;
	background: url("imgs/parte5/money.png") no-repeat 5% 30%,white;
	background-size: 45px;
	color: #f95353;
	border: 0px;
	cursor: pointer;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);
	padding-left: 4%;

}

/*--------SIX-------*/
.six{
	clear:both;
	width: 100%;
	height: 9.6%;
	background: url("imgs/parte6/mapa.png") no-repeat 0% 0%;
}

.six .address{
	width: 45%;
	margin-left: 9.2%;
	padding-top: 6%;
	float: left;
}


.six ul{
	margin-left: 13.2%;
	padding-top: 6%;

}

.six ul li{
	font-weight: bold;
	list-style: none;
	color: white;
	padding-bottom: 1%;
}
.six ul li:first-of-type{
	opacity: 0.4;
}

.six ul:nth-of-type(2){
	padding-top: 2%;
}

.six ul:nth-of-type(3){
	padding-top: 2%;

}
.six ul:nth-of-type(3) li{
 	display: inline;
 	opacity: 1;
 	padding-right: 2%;
}

.contact{
	width: 34%;
	height: 100%;
	margin-top: 10%;
	float: left;
}

.contact textarea{
	color: white;
	border: 0px;
	font-family: 'Proxima Nova Rg' ,'Montserrat'; 
	font-weight: bold;
	background-color: rgba(255,255,255,0.3);
	padding-left: 3%;
	padding-top: 3%;
}
.nameadr{
	width: 34%;
	height: 10%;
	margin-top: 1%;
	float: left;
}
.nameadr input{
	width: 46%;
	height: 92%;
	margin-top: 3%;
	margin-right: 3%;
	padding-left: 2%;
	color: white;
	border: 0px;
	font-family: 'Proxima Nova Rg' ,'Montserrat'; 
	font-weight: bold;
	background-color: rgba(255,255,255,0.3);
	
}
.plane{
	width: 34%;
	height: 10%;
	float: left;
	margin-top: 3%;
	margin-left: 54%;
}
.plane input{
	width: 52%;
	height: 112%;
	background: url("imgs/parte6/plane.png") no-repeat 7% 47%,white;
	background-size: 34px;
	border: 0px;
	color: #f49244;
	cursor: pointer;
	border-radius: 4px;
	-webkit-box-shadow: 4px 2px 8px 0px rgba(39, 50, 50, 0.75);
}

/*--------FOOTER-------*/
.foo{
	margin-top: 0%;
	clear:both;
	width: 100%;
	height: 7.7%;
	background-color: #30323a;
	position: relative;
}

.foo p:first-of-type{
	font-size: 28px;
	color: white;
	padding-top: 7%;
	padding-left: 13.1%;
}
.foo p:nth-child(1) span{
	font-size: 17px;
	color: #6a6b6f;
	padding-top: 7%;
	padding-left: 73.1%;
}

.foo p:nth-of-type(2){
	font-size: 28px;
	color: white;
	padding-top: 2%;
	padding-left: 13.1%;
}
.foo p:nth-child(2) span{
	
	font-weight: normal;
	font-size: 17px;
	color: white;
	padding-top: 7%;
	padding-left: 54.1%;
}
.foo p:nth-child(2) span:nth-of-type(2){
	
	font-weight: normal;
	font-size: 17px;
	color: white;
	padding-left: 76.1%;

}
.follow{
	width: 10%;
	height: 10%;
	background-color: white;
	margin-left: 13.1%;
	border-radius: 4px;
	-webkit-box-shadow: 10px 2px 5px 0px rgba(50, 50, 50, 0.75);
	cursor: pointer;

}
.foo .follow>p{
	font-size: 12px;
	color: black;
	padding-top: 8%;
}

.followico{
	width: 7%;
	height: 10%;
	position: absolute;
	left: 22%;
	top:57.09%;
	border-radius: 4px;
	background: url("imgs/parte6/t-f.png") no-repeat 0% 0%,white;
	cursor: pointer;
}
.foo p:nth-of-type(3){
	padding-top: 7%;
	padding-left: 12%;
	color: #54555a;
}