*{
	margin:0px;
}

header{

	height: 8em;
	background-color: #4cc7bc;
	
	margin-bottom: 25px;
}
h1{
	
	text-align: center;
	color: white;
	font-size: 2em;
	padding-top: 1em;
}
main {
	width: 70%;
	height: 22em;
	background-color: #4cc7bc;
	margin-right: 25px;
	float: left;
	margin-bottom: 25px;
	
}

main > h1{
	color: white;
	text-align: center;
	padding-top: 3em;
}
aside{

	width: 28%;
	height: 22em;
	background-color: #4cc7bc;
	float: right;
}

aside > h1{
		color:white;
		padding-top: 3em;
}

footer{
	height: 10em;
	background-color: #4cc7bc;
	
	clear: both;
}

footer > h1{
	color: white;
	text-align: center;
}