*{
	margin: 0px;
}

.logo{
	width: 10%;
	background-color: grey;
	height: 4em;
	text-align: center;
	color: white;
	margin-left: 25px;
	margin-top: 47px;
	float: left;
	margin-bottom: 25px;
}


.member{
	width: 56%;
	background-color: grey;
	height: 3em;
	text-align: center;
	color: white;
	margin-left: 25px;
	margin-top: 60px;
	float: left;
}
.company{
	width: 23%;
	background-color: grey;
	height: 4em;
	text-align: center;
	color: white;
	margin-left: 65px;
	margin-top: 0px;
	float: left;
}
nav{
	
	width: 96%;
	background-color: grey;
	height: 2em;
	clear: both;
	margin-left:25px;
	margin-right: 25px;
	margin-bottom: 25px;
}
ul{
	display: inline-block;
}
ul li{
	
	display: inline-block;
	list-style: none;
	color: white;
	padding-right:110px; 
	padding-left: 35px;

}

form
{
	display: inline;
	padding-right:25px; 
}

.one{
	width: 30%;
	background-color: lightgrey;
	height: 15em;
	margin-left: 25px;
	float: left;

}
.two{
	width: 64%;
	background-color: grey;
	height: 15em;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}
.three{
	width: 30%;
	background-color: grey;
	height: 9em;
	margin-left: 25px;
	float: left;
	margin-top: 25px;

}

.four{
	width: 30%;
	background-color: grey;
	height: 9em;
	margin-left: 2%;
	float: left;
	margin-top: 25px;
}
.five{

	width: 30%;
	background-color: grey;
	height: 9em;
	float: left;
	margin-right: 25px;
	margin-top: 25px;
	float: right;
}

.six{
	width: 30%;
	background-color: grey;
	height: 12em;
	margin-left: 25px;
	float: left;
	margin-top: 25px;
	float: left;
}

.seven{
	width: 64%;
	border: 1px dotted grey;
	height: 42em;
	margin-right: 25px;
	margin-left: 25px;
	float: left;
	margin-top: 25px;
	float: right;
	margin-bottom: 25px;
}

.eight{

	width: 30%;
	background-color: grey;
	height: 12em;
	margin-left: 25px;
	float: left;
	margin-top: 25px;
	float: left;
}

.lastn{
	
	background-color: grey;
	height: 10em;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	clear: both;
	
	position: relative;	
}

.nine{
	width: 30%;
	margin-top: 10px;
	background-color: white;
	height: 8em;
	position: absolute;
	top:4px;
	left: 30px;
}
.ten{
	width: 30%;
	margin-top: 10px;
	background-color: white;
	height: 8em;
	position: absolute;
	top:4px;
	left: 440px;
	float: left;
}

.eleven{
	width: 30%;
	margin-top: 10px;
	background-color: white;
	height: 8em;
	position: absolute;
	top:4px;
	left: 843px;
	float: left;
}

footer{
	margin-top: 25px;
	clear: both;
}

.twelve{
	margin-left: 25px;
	float: left;
}
.thirteen{
	margin-right: 25px;
	float: right;
}