
.div1{
	border: 1px solid black;
	margin: 15px;
}
.div1 header{
	
	margin: 5px;
	border: 1px solid black;
	text-align: center;
}

.left{
	margin: 15px;
	border: 1px solid black;
	width: 25%;
	height: 46em;
	text-align: center;
	float: left;
}

.module{
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid black;
	height: 30em;
}
.modulet{
	margin: 5px;
	border: 1px solid black;
	height: 6em;
}

.content{
	margin: 5px;
	border: 1px solid black;
	height: 8em;
}

.item{
	margin: 5px;
	border: 1px solid black;
	height: 10em;
}

.content2{
	margin: 15px;
	border: 1px solid black;
	width: 45%;
	height: 33em;
	float:left;
	text-align: center;	
}

.pcontent{
	margin: 5px;
	border: 1px solid black;
	height: 16em;
}
.pitem{
	margin: 5px;
	border: 1px solid black;
	height: 3em;
}
.pitem2{
	margin: 5px;
	border: 1px solid black;
	height: 3em;
}
.pitem3{
	margin: 5px;
	border: 1px solid black;
	height: 3em;
}
.right{

	margin: 15px;
	border: 1px solid black;
	width: 22.5%;
	height: 46em;
	text-align: center;
	float: right;
}

.middle{
	margin: 15px;
	border: 1px solid black;
	width: 45%;
	height: 11em;
	text-align: center;
	float: left;
}

footer{
	margin: 15px;
	border: 1px solid black;
	height: 5em;
	text-align: center;
	clear: both;
}