*{
	margin: 0px;
}

body{
	background: #333366;
}

header{

	height: 8em;
	background-color: #6699cc;
	margin: 25px;
}

header > h1{
	text-align: center;
	color: white;
	padding-top: 1.5em;
}

.linksh{

	width: 20%;
	background-color: #6699cc;
	margin-left: 25px;
	height: 40em;
	float: left;
	margin-bottom: 25px;
}

.linksh > h1{
	color: white;
	text-align: center;
}

.photo{
	width: 45%;
	background-color: #6699cc;
	margin-left: 25px;
	height: 23em;
	float:left;
	margin-right: 25px;
}

.photo h1{
	color: white;
	text-align: center;
}

.linkso{

	width: 27%;
	background-color: #6699cc;
	margin-right: 25px;
	height: 23em;
	float: left;
}

.linkso h1{
	color: white;
	text-align: center;
}

.intro{
	width: 74%;
	background-color: #6699cc;
	float: left;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	height: 15.5em;
}

.intro h1{
	color: white;
	text-align: center;
}

footer
{
	margin-top:25px;
	height: 8em;
	background-color: #6699cc;
	clear: both;
	margin-right: 25px;
	margin-left: 25px;
}

footer h1{
	color: white;
	text-align: center;
}
