*{
	margin: 0px;
	padding: 0px;
}

body{
	height: 1020px;
	background: #46b0e4;
}

.noche{
	width: 100%;
	overflow: hidden;


}
.noche img {

	height: 775px;
	width: 1596px;	

}



footer img{
	width: 100%;
	height: 95%;
	clear:both;
	top:420px;
	position: fixed;
	z-index: 1;
	margin-bottom: 0px;

}

.saturn img{
	width: 30%;
	top: 0px;
	left: 12px;
	position: fixed;
}

.astronauta img{
	width: 20%;
	top: 190px;
	left: 812px;
	position: fixed;
	z-index: 2;
}

.rocket img{
	width: 10%;
	position: absolute;
	top:520px;
	left: 512px;
}

.hi img{
	width: 10%;
	position: absolute;
	top:430px;
	left: 860px;
}

.alien img{
	
	width: 15%;
	position: fixed;
	top:490px;
	left: 269px;
	z-index: 3;
}