*{
	margin: 0px;
	padding: 0px;
}

span, p, blockquote{
float: left;
border:1px solid black;
width: 304px;
height: 250px;
padding: 0px;
margin: 0px;
background: white;
border: 1px solid black;
}

span{
	margin-right: 25px;
	margin-bottom: 30px;
	display: block
}

p{
	margin-right: 25px;
	margin-bottom: 30px;
}
blockquote{
	margin-right: 25px;
	margin-bottom: 30px;
}


div :nth-last-child(-n+4)
{
	margin-bottom: 0px;
}

div :nth-child(2n){
	border: 1px solid red;
}

div :nth-child(2n+1){
	border: 1px solid brown;
}

div :nth-child(4n){
	background: black;
	margin-right: 0px;
	}

div :nth-last-child(-n+2)
{
	background: orange;
}
div p:first-of-type{
	color: white;
}

blockquote:nth-of-type(3) + span{
	color: blue;

}

blockquote:nth-of-type(3){
	color: grey;
}