
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic);
 @font-face {
    font-family: 'learning_curve_proregular';
    src: url('learningcurve_ot-webfont.eot');
    src: url('learningcurve_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('learningcurve_ot-webfont.woff') format('woff'),
         url('learningcurve_ot-webfont.ttf') format('truetype'),
         url('learningcurve_ot-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-style: italic;
}


/*Downloaded font*/
.dwf p{
	font-family: 'learning_curve_proregular';

}

/*font-family*/
#fan{

	font-family: fantasy;
}

#cur{

	font-family: cursive;
}
#mono{

	font-family: monospace;
}
#ss{

	font-family: sans-serif;
}
#s{

	font-family: serif;
}

#in){

	font-family: inherit;
}


/*Font-Variant*/
#norm{

	font-variant: normal;
}

#sc{

	font-variant: small-caps;
}

#inh{

	font-variant: normal;
}

/*Font-Size*/

.fsize span:nth-of-type(1){
	font-size: xx-small;
}
.fsize span:nth-of-type(2){
	font-size: x-small;
}
.fsize span:nth-of-type(3){
	font-size: small;
}
.fsize span:nth-of-type(4){
	font-size: medium;
}
.fsize span:nth-of-type(5){
	font-size: large;
}
.fsize span:nth-of-type(6){
	font-size: x-large;
}
.fsize span:nth-of-type(7){
	font-size: xx-large;
}
.fsize span:nth-of-type(8){
	font-size: larger;
}
.fsize span:nth-of-type(9){
	font-size: smaller;
}
.fsize span:nth-of-type(10){
	font-size: 12px;
}
.fsize span:nth-of-type(11){
	font-size: 0.5em;
}
.fsize span:nth-of-type(12){
	font-size: 100%;
}
.fsize span:nth-of-type(13){
	font-size: 16pt;
}
.fsize span:nth-of-type(14){
	font-size: inherit;
}

/*Line-Height*/


.lineh p:nth-of-type(1){
	line-height: normal;
}
.lineh p:nth-of-type(2){
	line-height: 3.5;
}
.lineh p:nth-of-type(3){
	line-height: 3em;
}
.lineh p:nth-of-type(4){
	line-height: 100%;
}
.lineh p:nth-of-type(5){
	line-height: inherit;
}

/*Example B*/
.exampleB #wrapper{
	line-height: 50px;
}

.exampleB #inside{
	line-height: 50%;
}

.exampleB p{
	line-height: normal;
	
}

/*Text-Decoration*/

.tdecoration span:nth-of-type(1){
	text-decoration: none;

}
.tdecoration span:nth-of-type(2){
	text-decoration: underline;
}
.tdecoration span:nth-of-type(3){
	text-decoration: overline;
}
.tdecoration span:nth-of-type(4){
	text-decoration: line-through;
}

/*Example A*/
#idp{
	text-decoration: underline;
}

#idspan{
	text-decoration: none;
}


/*Text Style*/

.fstyle span:nth-of-type(1){
	
	font-style: normal;
}
.fstyle span:nth-of-type(2){
	
	font-style: italic;
}
.fstyle span:nth-of-type(3){
	
	font-style: oblique;
}
.fstyle span:nth-of-type(4){
	
	font-style: inherit;	
}


/*Example C*/ 

.exampleC #exp{
	font-style: inherit;
}

.exampleC #exsp{
	font-style: normal;
}
.exampleC #exspa{
	font-style: normal;
	
}

.fweight{
	font-family: 'Roboto', sans-serif;
}



/*Font-Weight*/

.fweight span:nth-of-type(1){
	font-weight: normal;
}
.fweight span:nth-of-type(2){
	font-weight: bold;
}
.fweight span:nth-of-type(3){
	font-weight: lighter;
}
.fweight span:nth-of-type(4){
	font-weight: bolder;
}
.fweight span:nth-of-type(5){
	font-weight: 100;
}
.fweight span:nth-of-type(6){
	font-weight: 200;
}
.fweight span:nth-of-type(7){
	font-weight: 300;
}
.fweight span:nth-of-type(8){
	font-weight: 400;
}
.fweight span:nth-of-type(9){
	font-weight: 500;
}
.fweight span:nth-of-type(10){
	font-weight: 600;
}
.fweight span:nth-of-type(11){
	font-weight: 700;
}
.fweight span:nth-of-type(12){
	font-weight: 900;
}
.fweight span:nth-of-type(13){
	font-weight: inherit;
}