/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700,700italic&subset=latin,latin-ext);*/


*{

	padding: 0;
	margin: 0;
}

body{
 	
	background-image: url("cielotweet.png");
	background-size: 1676px 360px;
	background-repeat: no-repeat;
	background-color: #c2dfee;
	 font-family: 'Roboto', sans-serif;
}

header{
	height: 40px;
	width: 100%;
	background-image: url("ruidochido.png"), linear-gradient(to top, #262626, #404040);
	background-repeat: repeat-x;
	background-position: 0% 0%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.iconos{
	width:  965px;
	height: 100%;
	margin: 0 auto;
	margin-left: 240px;
}
nav{

	width: 340px;
	float: left;
}
nav ul {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
}
nav li{
	
	font-size: 12px;
	line-height: 39px;
	height: 100%;
	display:inline-block;
	padding-right: 27px;
	color: rgb(187, 187, 187);
	padding: 0 10px;
}

nav li a{

 text-decoration: none;
 color: white;

}
nav li:nth-child(1){

	width: 23px;
	height: 31px;
	background-image: url("birdhouse.png");
  	background-position: 10px 11px;
  	padding-left: 35px;

 	background-repeat: no-repeat
}
nav li:nth-child(2){

	width: 23px;
	height: 32px;
	background-image: url("arroba.png");
  	background-position: 10px 10px;
  	padding-left: 35px;
 	background-repeat: no-repeat
}
nav li:nth-child(3){

	width: 22px;
	height: 30px;
	background-image: url("hashtag.png");
  	background-position: 15px 13px;
  	padding-left: 35px;
 	background-repeat: no-repeat
}

nav li:nth-child(4){

	width: 22px;
	height: 46px;
	background-image: url("user.png");
  	background-position: 17px 10px;
  	padding-left: 42px;
 	background-repeat: no-repeat;
}

nav a {
	text-decoration: none;

}

main{

	height: 1745px;
	width: 865px;
	background-color: rgba(255,255,255,0.3);
	margin: 0 auto;
	padding-top: 15px;
}

#act{
    width: 20px;
	height: 40px;
	margin-left: 15px;
	background-color: #262626
	}

.logo-search{
		width: 507px;
		height: 40px;
		float:left;
		background-image: url("logo.png");
	  	background-position: 5px 9px;
	  	padding-left: 42px;
	  	margin-left: 29px;
	 	background-repeat: no-repeat;
	 	position: relative;float: left;

}

.logo-search input{

		width: 203px;
		height: 27px;
		margin-top: 6px;
		margin-left: 83px;
		border-radius: 10px;
		border:0;
		background-color: #cccccc;
		float: left;
		font-size: 12px;
}

input:focus+span{
	
	display: none;
}

.logo-search span {

		position:absolute;
		top: 10px;
		left:127px;
		color:#666666;
		font-size: 12px;
}
.logo-search span::after{

	content: url("lupa.png");
	position: absolute;
	top: 2px;
	left:163px;
}
.engrane{
	width: 60px;
	height: 27px;
	float: left;
	margin-top: 6px;
	margin-left: 40px;
	background: url("engrane.png") 15px 2px , url("flecha.png") 42px 10px;;
	background-repeat: no-repeat;
	cursor: pointer;
	border-left: 1px solid rgba(255,255,255,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	float: left;
}

.engrane::after{

	content: "";
	height: 27px;
	border-right: 1px solid rgba(255,255,255,0.3);
	margin-left: 61px;
	display: inline-block;
	float: left;
}

.engrane::before{

	content: "";
	height: 27px;
	border-right: 1px  rgba(0,0,0,0.3);
	margin-left: -2px;
	display: inline-block;
	float: left;
}
.azul{

	width: 66px;
	height: 30px;
	margin-top: 6px;
	margin-left: 0px;
	background-image: url("blue.png");
	background-repeat: no-repeat;
	background-position: 29px 1px;
	float: left;
}

.last{

	width: 45px;
	height: 30px;
	margin-top: 6px;
	margin-left: 0px;
	background-image: url("last.png");
	background-repeat: no-repeat;
	background-position: 25px 7px;
	float: right;
}
aside{
	width: 315px;
	height: 771px;
	float: left;
}

.tweethings{

	width: 300px;
	height: 166px;
	float: right;
	background-color: white;
	border-radius: 10px;
	display: table;
	border: 1px solid #bed1da;
}

.tweethings .body a{
	padding-left: 13px;
	padding-top: 9px;
	vertical-align: middle;
	text-decoration: none;
	color: #0084b4;
}
.body p:first-of-type a {
	
text-decoration: none;
	color: black;
}

.body{
	width: 100%;
	height: 100%;
	display: table-row-group;
}

.row{

	display: table-row;
}

.cell{
	padding-top: 10px;
	display: table-cell;
	background-image: url("arrow.png");
	background-repeat: no-repeat;
	background-position: 281px 9px;
	
}
.body .cell:nth-of-type(1){

	border-bottom: 1px solid #e8e8e8;
}

.row:nth-last-child(-n+1) .cell{
	border: transparent;
}

.tweetto{
	
	font-size: 11px;
	font-weight: normal;
	font-family:"Helvetica Neue",Helvetica;
	margin-top: 12px;
	width: 300px;
	height: 84px;
	float: right;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #bed1da;
}

.tweetto h3{
	padding-left: 13px;
	padding-top: 9px;
}

.tweetto input{
	width: 270px;
	margin-left: 13px;
	margin-top: 13px;
	font-size: 12px;
}

.tweetto span {

		position:absolute;
		top: 277px;
		left:277px;
		color:#666666;
}

.pics{
	padding: 12px;
	margin-top: 12px;
	width: 278px;
	height: 185px;
	float: right;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #bed1da;
}
.picture{

	margin-left: 12px;
	margin: 1px;
	width: 90px;
	height: 90px;
	background-color: #999999;
	float: left;
}

.similar{
	margin-top: 12px;
	width: 300px;
	height: 175px;
	background-color: white;
	float: right;
	background-image: url("trescuadros.png");
	background-repeat: no-repeat;
	background-position: 11px 45px;
	font-size: 12px;
}
.simtittle{
	padding-top: 10px;
	width: 300px;
	height: 24px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid #bed1da;
	background-image: url("arrow.png");
	background-repeat: no-repeat;
	background-position: 281px 9px;
}
.simtittle a{
	text-decoration: none;
	color: #4097be;

	padding-left: 14px;
}
.simi1{
	width: 300px;
	height: 40.333px;
	padding-top: 7px;	
	color: #d0d0d0;
}
.simi1 span:nth-child(1){
	padding-left: 55px;
	color: black;
	font-weight: bold;
}


.simi1 span:nth-child(3){
	display: block;
	padding-left: 55px;
	color: #0084b4;

}
.simi2{
	width: 300px;
	height: 40.333px;	
	background: url("palomita.png") no-repeat 96px 3px, url("amar.png") no-repeat 57px 22px;
	
}
.simi2>span:nth-child(1){

	padding-left: 55px;
	color: black;
	font-weight: bold;

}
.simi2>span:nth-child(2){

	padding-left: 28px;
	color: #d0d0d0;

}
.simi2 p{
	padding-left: 78px;
	color:#d0d0d0;
}
.simi2 p span:nth-child(2){
	color:#0084b4;
}
.simi3{
	width: 300px;
	height: 40.333px;
	border-radius: 0px 0px 10px 10px;
	color: #d0d0d0;

}

.simi3 span:nth-child(1){
	padding-left: 55px;
	color: black;
	font-weight: bold;
}
.simi3 span:nth-child(3){
	display: block;
	padding-left: 55px;
	color: #0084b4;

}

.info{

	margin-top: 12px;
	width: 300px;
	height: 82px;
	float: right;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #bed1da;

}
.info p{
 	font-size: 13px;
 	word-wrap:break-word;
 	padding-left: 11px;
 	padding-top: 17px;
 	color:#b8b5b5;

}

.right_side{
	width: 520px;
	height: 1746px;
	float:right;
	padding-right: 15px;
}
.frontgr{
	
	padding-right: 15px;
	width: 520px;
	height: 308px;
	border-radius: 10px;
}

.front{
	width: 520px;
	height: 261px;
	background-color: #999999;
	border-radius: 10px 10px 0px 0px; 
	background-image: url("photoprofile.png");
	background-repeat: no-repeat;
	background-position: 220px 20px;
	font-size: 12px;
}
.status{
	width: 520px;
	height: 51px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	position: relative; 
}

.tweetwrap{
	
	padding-right: 15px;
	width: 520px;
	height: 563px;
	border-radius: 10px;
	
}

.front h2{
	color: white;
	padding-top: 112px;
	text-align: center;
}

.front h3{
	color: white;
	padding-top: 3px;
	text-align: center;
}

.front p{
	color: white;
	padding-left: 72px;
	padding-right: 76px;
	text-align: center;
}
.tweets{
	margin-top: 12px;
	width: 520px;
	height: 47px;
	border-radius: 10px 10px 0px 0px; 
	background-color: white;
	border-bottom: 1px solid #e8e8e8;
}

.tweets h2{
	padding-top: 10px;
	padding-left: 13px;
}

.tweets2 , .tweetr{
	width: 520px;
	height: 445px;
	
	background: url("avatar.png") no-repeat 12px 14px , white;
	
}


.tweets2>p:first-child, .tweetr>p:first-child{
	padding-left: 70px;
	padding-top: 15px;
	font-size: 12px;
	color: #999999;
}
.tweets2> p span:nth-child(1),.tweetr> p span:nth-child(1){
	color:black;
	font-weight: bold;
}

.tweets2>p span:nth-child(3), .tweetr>p span:nth-child(3){
	padding-left: 261px;
}

.tweets2>p:nth-child(2),.tweetr>p:nth-child(2){
	color: black;
	padding-top: 2px;
	padding-left: 70px;
	font-size: 12px;
	
}
.tweets2>p:nth-child(3),.tweetr>p:nth-child(3){
	color: #0084b4;
	padding-top: 2px;
	padding-left: 70px;
	font-size: 12px;
}

.tweets2 p:nth-child(4){

	padding-top: 4px;
	padding-left: 70px;

}

.tweets2 a:first-child{
	text-decoration: none;
	color:#0084b4;
	padding-left: 13px;
	background-image: url("ph.png");
	background-repeat: no-repeat;
	background-position: 0px, 12px;
	font-size: 12px;
}

.tweets2 a:nth-child(2){
	text-decoration: none;
	color:#0084b4;
	background-image: url("reply.png");
	background-repeat: no-repeat;
	padding-left: 14px;
	background-position: 0px 3px;
	font-size: 12px;
}
.tweets2 a:nth-child(3){
	text-decoration: none;
	color:#0084b4;
	background-image: url("retweet.png");
	background-repeat: no-repeat;
	padding-left: 19px;
	background-position: 0px 3px;
	font-size: 12px;
}
.tweets2 a:nth-child(4){
	text-decoration: none;
	color:#0084b4;
	padding-left: 15px;
	background-image: url("star.png");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	font-size: 12px;
}
.bigpic{
	width: 520px;
	height: 254px;
	background: url("bigpic.png") no-repeat 72px 15px, white;
}

.picretw, .picretw2{
	width: 434px;
	height: 42px;
	margin-left: 71px;
	margin-top: 10px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background-image: url("usersretw.png");
	background-repeat: no-repeat;
	background-position: 159px 12px; 
	
}
.picretw p:nth-of-type(1), .picretw2 p:nth-of-type(1){
	
	color: #b8b8b8;
	font-weight: bold;
	padding-top: 4px;
	width: 69px;
	height: 39px;
	float: left;
	font-size: 12px;
	border-right: 1px solid #e8e8e8;
}

.picretw p span, .picretw2 p span{
	color: black;
}

.picretw p:nth-of-type(2), .picretw2 p:nth-of-type(2){
	color: #b8b8b8;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 10px;
	width: 69px;
	height: 39px;
	float: left;
	font-size: 12px;
	border-right: 1px solid #e8e8e8;
	
}
.date, .date2{
	width: 434px;
	height: 42px;
	margin-left: 71px;

}

.date>p,.date2>p{
	padding-top: 16px;
	font-size: 12px;
	color: #b8b8b8;
}
.date>p span:nth-child(2){
	padding-left: 190px;
}

.date2>p span:nth-child(2){
	padding-left: 130px;
}

.tweets3{
	width: 520px;
	height: 73px;
	background-color: #f6f6f6;
	border-radius: 0px 0px 10px 10px; 
	border-top: 1px solid #e8e8e8;
}
.tweets3 input{

	margin-top: 19px;
	margin-left: 71px;
	width: 421px;
	height: 36px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	
}
.tweets3 span {

	 position: absolute;
 	 top: 899px;
 	 left: 652px;
 	 color: #999999;
 	 font-size: 12px;
}
.ttweets{
	margin-top: 12px;
	width: 520px;
	height: 275px;
}

.first, .third,.last1,.last2,.last3{
	width: 520px;
	height: 91px;
	background-color: white;
	border-radius: 10px 10px 0px 0px; 
	border-bottom: 1px solid #e8e8e8;
	background: url("avatar.png") no-repeat 12px 14px , white;
}

.first>p, .second>p , .third>p, .last1>p , .last2>p , .last3>p{
	padding-left: 70px;
	padding-top: 15px;
	font-size: 12px;
	color: #999999;
}
.first>p:nth-child(2),.second>p:nth-child(2),.third>p:nth-child(2),.last1>p:nth-child(2),.last2>p:nth-child(2),.last3>p:nth-child(2){
padding-top: 1px;
color: black;
}
.first>p a , .second>p a , .third>p a , .last1>p a , .last2>p a , .last3>p a {
	text-decoration: none;
	color: #0084b4;
}
.first>p:nth-child(3),.last1>p:nth-child(3){
padding-top: 1px;
color: #0084b4;
}
.first>p:nth-child(4),.last1>p:nth-child(4){
padding-top: 1px;
}
.first> p span:nth-child(1), .second> p span:nth-child(1), .third> p span:nth-child(1), .last1> p span:nth-child(1), .last2> p span:nth-child(1), .last3> p span:nth-child(1) {
	color:black;
	font-weight: bold;
}

.first >p span:nth-child(3), .second >p span:nth-child(3), .third >p span:nth-child(3), .last1>p span:nth-child(3), .last2 >p span:nth-child(3), .last3>p span:nth-child(3){
	padding-left: 261px;
}
.second >p:nth-child(3), .third>p:nth-child(3), .last1>p:nth-child(3), .last2>p:nth-child(3), .last3>p:nth-child(3){
padding-top: 1px;
}

.second{
	width: 520px;
	height: 91px;
	background-color: white;
	border-bottom: 1px solid #e8e8e8;
	background: url("avatar.png") no-repeat 12px 14px , white;
	
}
.third{
	width: 520px;
	height: 91px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}

.status p:nth-of-type(1){
	
	color: #b8b8b8;
	font-weight: bold;
	width: 39px;
	height: 26px;
	padding: 12px 30px 12px 12px;
	margin: 0;
	float: left;
	font-size: 12px;
	border-right: 1px solid #e8e8e8;
}
.status p:nth-of-type(2){
	color: #b8b8b8;
	font-weight: bold;
	width: 39px;
	height: 26px;
	padding: 12px 47px 12px 12px;
	margin: 0;
	float: left;
	font-size: 12px;
	border-right: 1px solid #e8e8e8;
}

.status p:nth-of-type(3){
	color: #b8b8b8;
	font-weight: bold;
	width: 39px;
	height: 26px;
	padding: 12px 30px 12px 12px;
	margin: 0;
	float: left;
	font-size: 12px;
}

.status span{
	color: black;
	font-weight: bold;
}
.button1{

	width: 36px;
	height: 30px;
	position: absolute;
	top:11px;
	left: 380px;
	background: url("userbutton.png") no-repeat center center, 
 -webkit-linear-gradient( 90deg, rgb(221,221,221) 0%, rgb(254,254,254) 100%);
 background: url("userbutton.png") no-repeat center center, 
 -moz-linear-gradient( 90deg, rgb(221,221,221) 0%, rgb(254,254,254) 100%);
 background: url("userbutton.png") no-repeat center center, 
 -ms-linear-gradient( 90deg, rgb(221,221,221) 0%, rgb(254,254,254) 100%);
	border: 1px solid #cccccc;
	border-radius: 5px;
	cursor: pointer;
}

.button2{

	width: 86px;
	height: 30px;
	position: absolute;
	top:11px;
	left: 426px;
	text-align: right;
	padding-right: 13px;
	padding-left: 9px;
	background: url("birdblue.png") no-repeat 5px 9px, 
 -webkit-linear-gradient( 90deg, rgb(221,221,221) 0%, rgb(254,254,254) 100%);
 background: url("birdblue.png") no-repeat 5px 9px, 
 -moz-linear-gradient( 90deg, rgb(221,221,221) 0%, rgb(254,254,254) 100%);
 background: url("birdblue.png") no-repeat 5px 9px, 
 -ms-linear-gradient( 90deg, rgb(221,221,221) 0%, rgb(254,254,254) 100%);
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;

}

.tweetreply{
	margin-top: 12px;
	width: 520px;
	height: 275px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	border-radius: 10px 10px 0px 0px;
}

.tweetr{
	margin-top: 12px;
	width: 520px;
	height: 107px;
	background-color: white;
	border-radius: 10px 10px 0px 0px; 
}

.tweetr p:first-child{
	background-image: url("green.png");
	background-repeat: no-repeat;
	background-position: 496px 0px;
}
.tweetr>p:nth-child(3){
	color: black;
	padding-top: 2px;
	padding-left: 70px;
	font-size: 12px;
}

.tweetr>p:nth-child(4){
	color: #999999;
	padding-top: 4px;
	padding-left: 91px;
	font-size: 12px;
	background-image: url("rt.png");
	background-repeat: no-repeat;
	background-position: 71px, 83px;
}

.tweetr>p:nth-child(5){
	padding-top: 10px;
	padding-left: 70px;
}

.tweetr>p:nth-child(5) a{
	
	text-decoration: none;
	color:#0084b4;
	font-size: 12px;
	padding-right: 4px;
}

.tweetr a:nth-child(2){
	background-image: url("reply.png");
	background-repeat: no-repeat;
	padding-left: 17px;
	background-position: 0px 3px;
}
.tweetreply .tweetr a:nth-child(3){
	color: #609928;
	background-image: url("retgreen.png");
	background-repeat: no-repeat;
	padding-left: 17px;
	background-position: 0px 4px;
}
.tweetr a:nth-child(4){
	background-image: url("star.png");
	background-repeat: no-repeat;
	padding-left: 17px;
	background-position: 0px 3px;
}
.tweetr1{
	width: 520px;
	height: 71px;
	background-color: #f6f6f6;
	border-radius: 0px 0px 10px 10px; 
	border-top: 1px solid #e8e8e8;
	position: relative;
}
.tweetr1 input{
	margin-top: 19px;
	margin-left: 71px;
	width: 421px;
	height: 36px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	font-size: 12px;
}

.tweetr1 span {

	 position: absolute;
 	 top: 29px;
 	 left: 82px;
 	 color: #999999;
 	 font-size: 12px;
}

.tweetlast{
	margin-top: 12px;
	width: 520px;
	height: 275px;
}

.last1{
	width: 520px;
	height: 91px;
	background-color: white;
	border-radius: 10px 10px 0px 0px; 
	border-bottom: 1px solid #e8e8e8;
}

.last2{
	width: 520px;
	height: 91px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	border-bottom: 1px solid #e8e8e8;
}

.last3{
	width: 520px;
	height: 91px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}