body{
	font-family: Arial;
}

div{
	width: 720px;
	background-color: grey;
}
ul{
	width: 70%;
	margin-left: 90px;
	height: 50px;
	display: inline-block;
	border: 6px solid  rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	background-image: url("play.png");
	background-repeat: repeat;
	text-align: center;
	padding-left: 15px;
	
	
	
}


li{

	font-size: 11px;
	font-weight: bold;
	display: inline-block;
	list-style: none;
	padding-top: 18px;
	color: white;
	height: 38px;
	border-left: 2px solid rgba(0, 0, 0, 0.3);
	padding-left: 27px;
	padding-right: 40px;



}
ul li:nth-of-type(1) span{
	display: none;
	position: absolute;
}

ul li:nth-of-type(2) span{
	display: none;
	position: absolute;
}

ul li:nth-of-type(3) span{
	display: none;
	position: absolute;
}

ul li:nth-of-type(4) span{
	display: none;
	position: absolute;
}

ul li:nth-of-type(5) span{
	display: none;
	position: absolute;
}



ul li:nth-of-type(1){
	position: relative;
	border-left: none;

}

ul li:nth-of-type(1):hover span{
	border: 2px solid transparent;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: block;
	color:#383312;
	padding-top: 3px;
	background-color:#f1b30b ;
	top:-15px;
	left: 58px;
	font-weight: bold;
	font-size: 11px;
	}

	ul li:nth-of-type(2):hover span{
	
	border: 2px solid transparent;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: block;
	color:#383312;
	padding-top: 3px;
	background-color: #f1b30b;
	top:12px;
	left: 276px;
	font-weight: bold;
	font-size: 11px;
	}

	ul li:nth-of-type(3):hover span{
	
	border: 2px solid transparent;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: block;
	color:#383312;
	padding-top: 3px;
	background-color: #f1b30b;
	top:12px;
	left: 380px;
	font-weight: bold;
	font-size: 11px;
	}


	ul li:nth-of-type(4):hover span{
	
	border: 2px solid transparent;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: block;
	color:#383312;
	padding-top: 3px;
	background-color: #f1b30b;
	top:12px;
	left: 480px;
	font-weight: bold;
	font-size: 11px;
	}

	
	ul li:nth-of-type(5):hover span{
	
	border: 2px solid transparent;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: block;
	color:#383312;
	padding-top: 3px;
	background-color: #f1b30b;
	top:12px;
	left: 580px;

	}
