body{
	font-family: Arial;
}
.head{
	
	background-image: url("header-background.gif");
	background-size: cover;

}
.head td{
	background-color: transparent;
	border: none;
}
.head td h1{
	 padding-left: 1.2em;
	 font-size: 27px;
	 color: white;
	 font-weight: normal;
	 text-align: left;
	 margin-bottom: 0px;

}
.head td h2{
	 padding-left: 2em;
	 color: white;
	 font-family: Corbel;
	 font-size: 16px;
	 font-weight: normal;
	 text-align: left;
	 margin-top: 0px;

}
.head tr:nth-of-type(1){

	
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 400px 30px;
	background-color: transparent;

}
.head tr th{

	
	border-top: 2px solid  #0c2a62;
	border-bottom: 2px solid  #0c2a62;
	border-right: 1px solid #c7cddb;
	background-color: white;
	font-size: 13px;
	color:#1f2d71;
	text-align: center;
	height: 48px;
	font-weight: normal;	

}

.head tr>th{
text-align: left;
}

table{
	
	width: 574px;
	border-spacing:0;
	border: 4px solid;
	border-color: #0c2a62;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-op-border-radius: 10px;
	-ie-border-radius: 10px;
	border-radius: 10px;
	caption-side: bottom;
}

table td{
	height: 48px;
	border-right: 1px solid #c7cddb;
	border-bottom: 1px solid #c7cddb;
	background-color: #f0f0f0;
	font-size: 11px;
	color:#747474;
	text-align: center;
}

tfoot{
	background-image: url("footer-background-gradient.png");
	background-repeat:round;
	color: black;
	background-size: cover;
}


tfoot td{
	border-right:1px solid #c7cddb;
	background-color: transparent;
	color:#070707;
	font-size: 13px;
}

tfoot td:first-child{
	text-align: left;
	padding-left: 2em;
}
th{
	border-right: 1px solid #c7cddb;
	border-bottom: 1px solid #c7cddb;
	text-align: left;
	background-color: #dde4f3;
	font-size: 13px;
	color:#1f2d71;
	padding-left: 2em;
	font-weight: normal;

}
caption{
	font-size: 10px;
	color: #8a8a8a
}